﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="WebForm2.aspx.cs" Inherits="Parse.WebForm2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
<style type="text/css">
    #sitebody {
        width: 600px;
        margin: 0 auto;
        font-size: 13px;
    }
    #header {
        background-color: #FFD4D4;
        height: 80px;
        text-align: center;
        line-height: 80px;
    }
    #sidebar_left {
        background-color: #FFECC9;
        width: 120px;
        height: 400px;
        text-align: center;
        line-height: 400px;
        float: left;
    }
    #sidebar_right {
        background-color: #FFECC9;
        width: 120px;
        height: 400px;
        text-align: center;
        line-height: 400px;
        float: right;
    }
    #content {
        margin-left: 120px;
        margin-right: 120px;
        height: 400px;
        background-color: #F2FFF2;
        text-align: center;
        line-height: 400px;
    }
    #footer {
        clear: both;
        background-color: #FFD4D4;
        height: 80px;
        text-align: center;
        line-height: 80px;
    }
</style>
</head>
<body>
    <div id="sitebody">
        <div id="header">header</div>
        <div id="sidebar_left">sidebar_left</div>
        <div id="sidebar_right">sidebar_right</div>
        <div id="content">content</div>
        <div id="footer">footer</div>
    </div>
</body>
</html>
